.footer{
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: var(--primary);
    color: var(--accent);
    padding: 60px 30px;
    display: grid;
    grid-template-areas: 'gdg social legal';
    grid-template-columns: 32% 32% 32%;
}
.footer>*{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gdg_area{
    grid-area: gdg;
}
.social_area{
    align-items: center;
    grid-area: social;
}
.legal_area{
    grid-area: legal;
}
.social_area>ul{
    flex-wrap: unset;
    margin: 5px 10px;
}
.image{
    aspect-ratio: 1;
    width: 100%;
    height: 100%;
    max-width: 30px;
    object-fit: contain;
    margin: 0;
}
.h3{
    font-size: min(calc(3vw), calc(1.25rem));
    font-family: var(--main-font);
    text-align: left;
}
.legal_text{
    text-align: right;
}
@media only screen and (max-width: 750px) {
    .footer{
        padding: 40px 20px;
        grid-template-areas: 
        'gdg legal'
        'social social';
        grid-template-columns: 50% 50%;
        gap: 10px;
    }
    .h2{
      font-size: 1.8rem;
    }
    .h3{
      font-size: initial;
    }
  }